logs

# Windows nginx
windows/nginx/*
!windows/nginx/README.md
!windows/nginx/examples
!windows/nginx/nginx-server.exe
!windows/nginx/nginx-server.xml

# Windows php
windows/php/*
!windows/php/README.md
!windows/php/php-server.exe
!windows/php/php-server.xml

# Windows root
windows/root/*
!windows/root/README.md
!windows/root/.gitkeep

# macOS nginx
macOS/nginx/*
!macOS/nginx/README.md
!macOS/nginx/examples
!macOS/nginx/com.nginx.plist

# macOS php  
macOS/php/*
!macOS/php/README.md
!macOS/php/com.php-fpm.plist

# macOS root
macOS/root/*
!macOS/root/README.md

