<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.php-fpm</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/sbin/php-fpm</string>
        <string>--nodaemonize</string>
        <string>--fpm-config</string>
        <string>/usr/local/etc/php/php-fpm.conf</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/usr/local/var</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/php-fpm.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/php-fpm.log</string>
    <key>UserName</key>
    <string>root</string>
</dict>
</plist>